/* LOGIN */

.cLogin{
    margin: 10% auto;
}

.login__formato {
    border: 2px solid #f1f1f1;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.575);
    @include prod-bordes-todos ($borde-sup-izq, $borde-sup-der, $borde-inf-izq, $borde-inf-der);
}

.login__input input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login__btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.login__btnh button:hover {
    opacity: 1.1;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.fTexto label {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.centrarF {
    margin: 5% auto;
}