.stienda {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tNav {
    @extend %flxwraprow;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.274);
    height: 100%;
    border: 2px solid white;
    justify-content: center;
}

.aCajas {
    @extend %flxwraprow;
    justify-content: center;
}

.liFondo {
    background: rgba(0, 0, 0, 0.336);
}

.eTexto a {
    display: flex;
    color: white;
    font-weight: 400;
    padding: 10px;
    font-family: "Georgia, 'Times New Roman', Times, serif";
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nuLi ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
    padding: 0;
}

.tsLi ul li:hover {
    text-shadow: 0 0 12px #0263f5c5, 0 0 14px #0d8df598, 0 0 16px #055bfb96, 0 0 18px #2dbbfd98;
    -webkit-text-stroke: 0.03rem rgb(0, 0, 255);
}

.dMenu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.336);
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
    width: auto;
    height: auto;
}

.dLi li:hover>ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.bTitulo {
    @extend %flxwraprow;
}

.eTitulo h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 2rem;
}

.producto {
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 0.342);
    border: 1px solid rgba(255, 255, 255, 0.404);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    @include prod-bordes-todos ($borde-sup-izq, $borde-sup-der, $borde-inf-izq, $borde-inf-der);
    background-image: linear-gradient(
        -60deg,
        transparent, transparent 40%,
        #ffffff44 40%, #ffffff44 60%,
        transparent 60%, transparent 100%
    );
    background-size: 250% 140%;
    background-repeat: no-repeat;
    background-position-x: 150%;
}

.producto:hover{
    background-position-x: -150%;
    transition: background-position-x 600ms;
}

.producto__imagen {
    display: flex;
    @include prod-bordes-top ($borde-sup-izq, $borde-sup-der);
}

.producto__desc {
    background-color: rgba(0, 0, 0, 0.507);
    width: 18.75rem;
    height: fit-content;
    text-align: center;
    @include prod-bordes-bot ($borde-inf-izq, $borde-inf-der)
}

.producto__titulo {
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
    @extend %tiendaProps;
}

.producto__precio {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    @extend %tiendaProps;
}

.producto__cbtn {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 3%;
    background-color: green;
}

.producto__cbtn:hover{
    transform: scale(105%)
}

section > div > div.anim:hover {
    cursor: pointer;
    transform: scale(105%) skew(0.009rad, 0.009rad);
}

nav ul li:hover {
    transform: scale(103%);
}

.aTiempo {
    transition: all 250ms;
}

.tOverflow {
    text-overflow: ellipsis;
}

.tienda-section{
    width: 80%;
    margin: 0 auto;
}

.prsp,
.mHam{
    display: none;
}